# 系统文件
.bash_history
.bashrc
.profile
.tcshrc
.xonshrc
.zshrc
.ssh/

# 缓存和配置
.cache/
.config/
.conda/
.local/
.jupyter/
.cursor-server/
.cursor/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.python_history
.ipython
# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# trae
.trae-cn/
.trae-cn-server/
.trae-aicc/
.antigravity-server/

.lesshst